I samband med registrering för användarnamnet $username krävs verifiering av e-postadressen.

För att fortsätta verifieringsprocessen, besök följande adress: $verificationCompleteURL
Alternativt, ange verifieringslösenordet på följande adress: $verificationURL

Användarnamn: $username
Verifieringslösenord: $token

Om du inte gjort registreringen som nämns ovan, vänligen ignorera detta e-postmeddelande.

=====================================================
ETERNA
