<html>
<body>
<p>I samband med registrering för användarnamnet <em>{{username}}</em> krävs verifiering av e-postadressen.</p>
<p>För att fortsätta verifieringsprocessen, besök följande adress <a href="{{verificationCompleteURL}}">{{verificationCompleteURL}}</a>, eller, alternativt, ange verifieringslösenordet på följande adress <a href="{{verificationURL}}">{{verificationURL}}</a>:
<ul>
<li><strong>Användarnamn:</strong> {{username}}</li>
<li><strong>Verifieringslösenord:</strong> {{token}}</li>
</ul>
</p>
<p>Om du inte gjort registreringen som nämns ovan, vänligen ignorera detta e-postmeddelande.</p>

<p>ETERNA</p>

</body>
<html>
