<html>
<body>
<p>Hej $producerFullName,</p>
<p>Paketet med namnet $sipOriginalFilename, inlämnat $sipDateTime, har manuellt avvisats av följande anledning:</p>
<p style="margin-left: 5px; margin-right: 5px; font-style: italic">$message</p>

<p>Vänligen åtgärda de nämnda felen och vidta lämpliga åtgärder.</p>

<p>ETERNA</p>

</body>
<html>
