<html>
<body>
<p>En återställning av lösenord kopplad till denna e-postadress har begärts.</p>

<p>För att fortsätta återställningsprocessen, besök följande adress <a href="{{recoverLoginCompleteURL}}">{{recoverLoginCompleteURL}}</a>.</p>
<p>Alternativt, ange nödvändiga uppgifter på följande adress <a href="{{recoverLoginURL}}">{{recoverLoginURL}}</a>.</p>
<ul>
<li><strong>Användarnamn:</strong> {{username}}</li>
<li><strong>Verifieringslösenord:</strong> {{token}}</li>
</ul>
<p>Och ändra ditt lösenord.</p>
<p>Om du inte begärt den lösenordsåterställning som nämns ovan, vänligen ignorera detta e-postmeddelande.</p>

<p>ETERNA</p>

</body>
<html>
