En återställning av lösenord kopplad till denna e-postadress har begärts.

För att fortsätta återställningsprocessen, besök följande adress: $recoverLoginCompleteURL
Alternativt, ange nödvändiga uppgifter på följande adress: $recoverLoginURL

Användarnamn: $username
Verifieringslösenord: $token

Och ändra ditt lösenord.

Om du inte begärt den lösenordsåterställning som nämns ovan, vänligen ignorera detta e-postmeddelande.

=====================================================
ETERNA
