<html>
<body>
<p>Ett ETERNA-konto kopplat till denna e-postadress har skapats.</p>

<p>För att skapa ett lösenord, ange nödvändiga uppgifter på följande adress <a href="{{recoverLoginURL}}">{{recoverLoginURL}}</a>.</p>
<ul>
<li><strong>Användarnamn:</strong> {{username}}</li>
<li><strong>Verifieringslösenord:</strong> {{token}}</li>
</ul>
<p>Om du inte begärt att skapa ett konto, vänligen ignorera detta e-postmeddelande.</p>

<p>ETERNA</p>

</body>
<html>
